@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");



body,html{
  width:100%;
  height: 100%;
 border-color:1px solid red;
 font-family: "Space Grotesk", sans-serif;
 background-color:lightcyan !important;
 color: #000000; /* Black */
}

.header_container{
  margin-bottom: 100px;

}
.header{
  background-color: #20b2aa;
  height: 180px;
 
}

.nav_items{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: flex-end;
}

.home_page{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  flex-direction: column;
}




/* !!!: Design for small devices  */
@media only screen and (max-width: 678px) {


  .logo{
    width: 110px;
    height: 110px;
    font-weight: 900;
  }
  .brandname{
    color:rgb(99, 248, 0)!important;
  }
  .header_container{
    margin-bottom: 50px;

  }
  .introduction_section{
    margin-top: 10px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
  }

  .introduction_section h1{
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    margin-top: 18px;
    color:rgb(99, 248, 0)!important;
    }
    .introduction_section h3{
      text-align: center;
    }
    .introduction_section h6{
      margin-top: 48px;
      margin-bottom: 36px;
    }
    .work_time{
      margin-top: 20px;
      margin-bottom: 30px;
      display: flex;
      align-items:center;
      justify-content: center;
      flex-direction: column;
      border:2px solid #20b2aa;
      border-radius: 12px;
      margin-left: 12px;
      margin-right: 12px;
      padding: 10px;
    }
    .phone{
    text-decoration: none;
    margin-left: 10px;
    color:inherit;
    }
    .bi-clock{
      margin-right: 10px;
    }

    .contact-btn-container{
      width: 75%;
      border:none;
      margin-bottom: 15px;
    }
    .contact-btn{
      width: 100%;
      background-color: #20b2aa !important; 
      border:none !important;
    }
    .bi-person-lines-fill{
      margin-right: 6px;
    }
    .headeer-btn{
      background-color: #2f4f4f !important;
      width: 100%;
      color:#000000 !important;
    }
    .projects_section{
      margin-top: 30px;
      display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 3px;
    border-radius:12px;
    }
  

    .projects_section h3{
      font-weight: 600;
      color:rgb(99, 248, 0)!important;
    }

    .about-me{
      width: 100%;
      margin-top: 60px;
      margin-bottom: 30px;
      display: flex;
      align-items:center;
      justify-content: center;
      flex-direction: column;
      padding-top: 10px;
      padding-bottom: 10px;
      border:2px solid #20b2aa;
      border-radius: 12px;
    }
    .about-me p{
      text-align: left;
      margin-left: 0;
    }
    .about-me h3{
      margin-bottom: 28px;
      color:rgb(99, 248, 0)!important;
    }
    .bi-arrow-right-circle{
      margin-left: 8px;
    }

    .techs-card{
      width: 100%;
      display: flex;
      align-items:center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 16px;
      border:1px solid #6c757d;
      border-radius: 12px;
     min-height: 300px;
     max-height:100% ;
    }


.carousel-indicators button{
  background-color: #20b2aa !important; 
}

.carousel-control-next-icon{
  padding: 3px !important;
  border-radius:6px !important;
  background-color: #20b2aa !important; 
}
.carousel-control-prev-icon{
  border-radius:6px !important;
  background-color: #20b2aa !important; 
}
   
.services-contacts{
  margin-bottom: 36px;
  border:2px solid #20b2aa;
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  border-radius:12px;
  padding-top: 24px;
}
.services-contacts h3{
margin-bottom: 24px;
}
.services-contacts p{
margin-left: 8px;
margin-right: 8px;
}
.service-contacts-details{
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 20px;
}

.projects{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 0 !important;
}
img.project-img{
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius:12px;
  margin-top: 36px;
}
.contact_span{
  margin-left: 2px;
}
.contact_span a{
  text-decoration: none;
  color:rgb(99, 248, 0)!important;
}
.projecttitle{
margin-top: 54px;
margin-bottom: 24px;
color:rgb(99, 248, 0)!important;
}

.services{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
}
.servicestitle{
margin-top: 54px;
margin-bottom: 24px;
color:rgb(99, 248, 0)!important;
}

.service-card{
  width: 100%;
  border-radius:12px;
  border:2px solid #20b2aa;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 20px;
  margin-bottom: 36px;
  margin-top: 36px;
}
.cardimg{
  width:100%;
  height: 300px;
  border-top-left-radius:12px;
  border-top-right-radius:12px;
  margin-bottom: 36px;
  border-bottom: 1px solid  gray;
}
.servicecard-details{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 4px;
}
.servicecard-details h3{
  color:rgb(99, 248, 0); 
  margin-bottom: 24px;
}
.servicecard-details p{
  text-align: center;
  padding-left: 10px;
}
.servicecard-button-container{
  width: 100%;
  display: flex;
  align-items:center;
  justify-content: center;
  border:none;
}
.servicecard-btn{
  width: 90%;
  margin-top: 24px;
  margin-bottom: 16px;
  background-color: #20b2aa !important; 
  border:none !important;
}
.footer-section{
  width: 100%;
  bottom:0;
  left: 0;
  right: 0;
  background-color: #20b2aa !important; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 16px;
  margin-top: 60px;
}
.footer-section h3{
  margin-top: 16px;
  color:rgb(99, 248, 0);
}
.social-links{
  display: flex;
  margin-top: 12px;
  margin-left: 0;
  margin-bottom: 16px;
  margin-top: 20px;
  align-items: center;
}
.social{
 
margin-right: 14px;
}
.footerlinks{
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.footerlinks h5{
  color:rgb(99, 248, 0);
}
.footerlinks a{
  text-decoration: none;
  color:inherit;
  margin-top: 16px;
  cursor: pointer;
}
}










/* !!!: Design for large screens */
@media only screen and (min-width: 678px) {
  .header_container{
    margin-bottom: 20px;
  
  }
  .introduction_section{
    margin-top: 20px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    width: 60%;
  }
  
  .introduction_section h1{
    margin-bottom: 45px;
    font-weight: 800;
    font-size: 36px;
    text-align: center;
    }
    .introduction_section h3{
      text-align: center;
    }
    .introduction_section h6{
      margin-bottom: 16px;
      margin-top: 28px;
    }
  .work_time{
    border:1px solid red;
    margin-top: 2px;
    margin-bottom: 30px;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    border:1px solid #6c757d;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    margin-left: 16px;
  }
  .phone{
  text-decoration: none;
  margin-left: 10px;
  color:inherit;
  }
  .bi-clock{
    margin-right: 10px;
  }
  .contact-btn-container{
    width: 400px;
    margin-top: 50px;
    border:none !important;
  }
  .contact-btn{
    width: 100%;
    background-color: #20b2aa !important; 
    border:none !important;
  }
  .projects_section{
    border:1px solid yellow;
    margin-top: 70px;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
  }

  .projects_section h3{
    font-weight: 600;
  }
}
